{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 8"
        ]
      },
      "modules": false,
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}